/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-oct-2014, 17:12:41
    Author     : neo3k_000
*/
@font-face {
    font-family: DEFTONE;

    src: url('../fonts/DEFTONE.ttf');
}

*{margin: 0; padding: 0; font-family: DEFTONE; font-size: 30px;}

#web{
    position: absolute;
    width: 90%;/*anchura. para adaptar a pantalla en porcentaje*/
    height: auto;/*altura*/
    /*padding: 10px;/*margen interior*/
    /*margin: auto; /* margen exterior*/
    top: 0;
    left: 5%;
    right: 5%;

}

body{
    position: relative;
    background-image: url('../imatges/fondo2.jpg');
    background-position: top;
    background-size: cover;
    /*background-size: contain;*/
    background-attachment: fixed;
    background-repeat: NO-REPEAT;
}


#banner {

    /*position: relative;
    /*background-size: 100% 100%;*/
    /* background-image: url('../imatges/banner3.png'); */
    /*margin-bottom: 20px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*height: auto;*/
    margin-top: 5px;
    /* margin-bottom: 20px;
     /*border-radius: 30px;*/
    /*border: solid 10% black;*/
}
.banner1{
    width: 100%;
    height: auto;
    border-radius: 20px;

    /*border: 5px solid black;*/
    /* margin-top: 5px;*/

}

#menu{
    position: absolute;
    top:0;
    width: 12%;
    height: auto;
    background-color: rgba(255,222,129,0.6);
    color: black;
    text-decoration: none;
    border-radius: 20px;
    padding: 3%;
    /*border: 5px solid black;*/



}


#menu a{
    text-decoration: none;
    color: black;
    /*text-transform: uppercase;*/
    /*font-size: 12px;*/


}

#menu a:hover{
    text-decoration: blink;
    color: red;



}

nav li{
    text-align: left;
    list-style: none;
}

#cuerpo{
    position: relative;
    background-color: rgba(255,222,129,0.6);
    top: 0;
    left: 20%;
    width: 74%;
    height: auto;
    color: #000;
    text-align: justify;
    text-decoration: none;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
    /* text-transform: uppercase;*/
    /* text-indent: 0px;*/
    /* font-weight: 100;*/
    /*font-style: italic;*/
    /*border: 5px solid black;*/
}

#contenidor{
    position: relative;
}

a {

    text-decoration: none;
    color: black;

}

.vespaico{

    width: 80px;
    height: 60px;
    border: 2px;

}

#vespa125s{
    position: relative;
    width: 100%;
    height: auto;

}

.vespa125s{
    width: 30%;
    height: auto;
    position: relative;
    border-radius: 5px;
    top: 5px;
    left: 30%;
    margin-bottom: 5px;
}

.texto1{
    position: relative;
    top: 0px;

}
.video{

    width: 90%;/*anchura. para adaptar a pantalla en porcentaje*/
    height: auto;/*altura*/
    padding: 10px;/*margen interior*/
    margin: auto; /* margen exterior*/

}

#tabla{
    position: relative;
    top: 5px;
    left: 10%;
    
    
    
    
}