/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-oct-2014, 17:12:41
    Author     : neo3k_000
*/
@font-face {
    font-family: DEFTONE;

    src: url('../fonts/DEFTONE.ttf');
}

*{margin: 0; padding: 0; }

body{
    position: relative;
    background-image: url('../imatges/fondo2.jpg');
    background-position: top;
    background-size: cover;
    /*background-size: contain;*/
    background-attachment: fixed;
    background-repeat: NO-REPEAT;
    font-size: 19px;
}


#contenidor{
    position: relative;
    width: 100%;
    top: 0;
    text-align: center;
    margin: auto;
    z-index: 0;
}



#banner {
    position: relative;
    top:70px;
    width: 100%;


    /*left: 5%;*/


}
.banner1{
    width: 100%;
    /*height: auto;*/
    /*border-radius: 20px;*/
    /*border: 7px solid black;*/


}

#cuerpo{
    position: relative;
    background-color: rgba(255,222,129,0.6);
    top:70px;
    width: 100%;
    min-height: 210px;
    height: auto;
    text-decoration: none;
    /*border-radius: 20px;*/
    /*border: 7px solid black;*/
    /*left: 5%;
    min-height: 400px;*/
    margin: auto;
    z-index: -100000000;
    

}


.icon{
    width: 60px;
    height: auto;  
}



a {

    text-decoration: none;
    color: black;

}

.vespaico{

    width: 80px;
    height: 60px;
    border: 2px;

}

.vespa125s{
    width: 30%;
    height: auto;
    position: relative;
    border-radius: 5px;
    top: 5px;
    /*left: 30%;*/
    margin-bottom: 5px;
}

.texto1{
    position: relative;
    top: 0px;
    text-align: justify;
    padding: 10px;
}
.video{

    width: 90%;/*anchura. para adaptar a pantalla en porcentaje*/
    height: auto;/*altura*/
    padding: 10px;/*margen interior*/
    margin: auto; /* margen exterior*/

}

#tabla{
    position: relative;
    top: 5px;
    /*left: 10%;
    padding: 10px;*/

}

.send{
    position: relative;
    text-align: center;
    /*left: 45%;
    width:100%;*/
}

input[type='submit'] {

    height: 25px;

}  

.form{
    display: block;
    font-family: arial;
    font-size: 15px;
    text-align: left;
    padding: 5px;
}

input,select{
    /* background-color: red;*/
    width: auto;
    height: 20px;
    font-family: arial;
    font-size: 10px;
}
textarea{
    width: 40%;
    height: 70px;
    font-family: arial;
    font-size: 10px;
}

#foro{
    border-radius: 15px;



}

.titel{
    font-family: Deftone;
    font-size: 50px !important;


}


#custom{
    position: relative;
    /* left: 50px; */
    width: 437px;
    height: 325px;
    /* background-image: url('../imatges/vespa_trans.png'); */
    margin: auto;
    border: 5px solid black;




}

#sillin{
    background-color: green;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 45px;
    left: 100px;
    z-index: -10;

}
#chasis1{
    /*background-color: blue;*/
    width: 435px;
    height: 200px;
    position: absolute;
    top: 90px;
    left: 0px;
    z-index: -11;


}
#chasis2{
    /*background-color: red;*/
    width: 100px;
    height: 60px;
    position: absolute;
    top: 40px;
    left:250px;
    z-index: -12;



}
.chasis{
    background-color: red;

}

#puny{
    background-color: yellow;
    width: 45px;
    height:25px;
    position: absolute;
    top: 10px;
    left:200px;
    z-index: -13;

}
/*estils del pickup*/

#selector{

    position: absolute;
    top: 0;
    left: 440px;


}


.boton
{

}

.centrar{
    position: relative;
    width: 100%;
    margin: auto;
    


}