/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-oct-2014, 17:12:41
    Author     : neo3k_000
*/

#web{
    width: 90%;/*anchura. para adaptar a pantalla en porcentaje*/
    height: 900px;/*altura*/
    padding: 10px;/*margen interior*/
    margin: auto; /* margen exterior*/
    
    
   
    
    
}
#banner{
      
    
}


#menu{
    
    
}

#cuerpo{
    
    
    
}