@media (max-width: 600px)
{


    body{
        position: relative;
        background-image: url('../imatges/fondom.jpg');

    } 
        
    #banner .banner1 {
        display: none;

    }
    .banner2{
        position: relative;
        width: auto;
        height: 40px;
        border-radius: 20px;

    }



    div#cuerpo{

        position: relative;
        background-color: rgba(255,222,129,0.6);
        top: 10px;
        left: 0;
        width: 94%;
       // height: auto;
        color: #000;
        text-decoration: none;
        border-radius: 20px;
        //padding-left: 3%;
        //padding-right: 3%;

    }

.vespa125s{
    width: 200px;
    height: auto;
    
    //height: auto;
    
    
}
}


